.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;align-items: center;
    gap: 20px;
    background: rgb(250, 238, 216);
    object-fit: cover;
}
.footer-logo{
    display: flex;
    align-items: center;
    gap: 20px;
}
.footer-logo img{
    height: 60px;
    width: 60px;
    mix-blend-mode: color-burn;
    
}
.footer-logo p{
    color: #383838;
    font-size: 46px;
    font-weight: 700;

}
.footer-links{
    display: flex;
    list-style: none;
    gap: 30px;
    font-size: 20px;
}
.footer-links li{
    cursor: pointer;
}
.footer-social-icons{
    display: flex;
    gap: 10px;
    /* mix-blend-mode: color-burn; */
}
.foooter-icons-container{
    padding: 10px;
    padding-bottom: 6px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
    height: 30px;
    width: 20%;

}
.foooter-icons-container img{
    height: 100%;
    width: 100%;
    cursor: pointer;
}
.footer-copyright{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
    margin-bottom: 30px;
    color: #1a1a1a;
    font-size: 20px;
}
.footer-copyright hr{
    width: 80%;
    border: none;
    border-radius: 10px;
    height: 5px;
    background: #c7c7c7;
}
@media(max-width:800px){
    .footer{
        gap: 10px;

    }
    .footer-logo{
        gap: 10px;
        margin-top: 30px;

    }
    .footer-logo img{
     width: 30px;
     height: 30px; 
     
    }
    .footer-logo p{
        font-size: 15px;
        margin-top: 10px;
        
        
    }
    .footer-links{
        font-size: 14px;
        gap: 1px;
    }
    .footer-social-icons img{
        width: 30px;
    }
   
}
