.breadcrum{
    display: flex;
    align-items: center;
    gap: 6px;
    color: #5e5e5e;
    font-size: 17px;
    font-weight: 600;
    margin: 40px 130px;
    text-transform: capitalize;

}
.breadcrum img{
    height: 15px;
    width: 15px;
}
@media(max-width:1280px){
    .breadcrum{
        margin: 30px 50px;
        font-size: 14px;
    }
   
}
@media(max-width:1024px){
    .breadcrum{
        margin: 30px 30px;
        font-size: 13px;
    }
   
}
@media(max-width:800px){
    .breadcrum{
        margin: 30px 10px;
        font-size: 12px;
    }
   
}
@media(max-width:540px){
    .breadcrum{

        font-size: 10px;
    }
   

}
@media(max-width:475px){
    .breadcrum{

        font-size: 9px;
    }
   
}
@media(max-width:450px){
    .breadcrum{

        font-size: 8px;
    }
   
}
@media(max-width:400px){
    .breadcrum{

        font-size: 7px;
    }
   
}